
html {
    font-size: 62.5%; /*para hacer 1rem=10px*/
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color:#F67A7A;
    font-size: 16px; /*para hacer 1rem=10px*/
}

main {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: rgb(73, 73, 252);
    margin:0;       
}

li {
    list-style-type: none;
    
}

ul {
    margin: 0;
    padding: 0;
}



.contenedor {
    background-color: white;
    border-radius: 1rem;
    width: 93rem;
    margin: 6rem auto 3rem auto;
    box-shadow: 0 3px 20px rgba(0,0,0,0.4);
}

.encabezado  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 0px 1px rgb(252, 254, 255);
    background-color: #f6f8f8;
    border-radius:1rem;
    padding: 4rem 5rem;
}
 
.fecha {
    margin: 0;
    color: rgb(158, 157, 157);
    font-weight: 500;
}

.cantidadTareas {
    font-weight: bold;
    color: rgb(158, 157, 157)
}

.cantidadTareas span {
    font-weight: 500;
}

.tareas {
    display: flex;
    justify-content: space-between;
    border-bottom: 1.2px solid #E8E8E8;
    padding-bottom: 1rem;
    margin-bottom: 4rem;
}

.inputTarea {
    width: 86%;
    border-style:none;
    padding: 0;
    font-weight: 400;
    font-size: 2rem;
    
}

.botonAgregar {
    display: flex;
    justify-content: space-evenly;
    border-radius: .7rem;
    width: 10rem;
    background-color: #5A5EE6;
    color: white;
    font-weight: bold;
    padding: 1rem;
    border: none;
    font-size: 90%;
     
}

.botonAgregar:hover {
    cursor: pointer;
}



.botonEliminar {
    display: flex;
    justify-content: space-evenly;
    border-radius: .7rem;
    width: 10rem;
    background-color: #FA7677;
    color: white;
    font-weight: bold;
    padding: 1rem;
    border: none;
    font-size: 90%;
   
}

.botonEliminar:hover {
    cursor: pointer;
}

.botonEditTerm {
    display: flex;
    justify-content: space-evenly;
    border-radius: .7rem;
    width: 10rem;
    background-color: #7A7EF2;
    color: white;
    font-weight: bold;
    padding: 1rem;
    border: none;
    font-size: 90%;
}

.botonEditTerm:hover {
    cursor: pointer;
}


.contenedorTareas {
    padding: 4rem 5rem;
    padding-top: 6rem;
}

.lista {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    border-bottom: 1.2px solid #E8E8E8;
    padding: 1rem 0;
    color: rgb(39, 38, 38);
    line-height:1rem;
    
}

.listaBotones {
    display: flex;
    justify-content: end;
    gap: 2rem;
    width: 40%;
  
}

.lista span {
    text-decoration-line: line-through;
}

.listaTexto {
    width: 55%;
    line-height: 2rem;

}





